In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [2]:
nhs_eth = pd.read_excel('/Users/laurenhughes/Flatiron/NHSWFD.xlsx', sheet_name='Source data - Ethnicity')

In [4]:
nhs_eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16713 entries, 0 to 16712
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data Month        16713 non-null  datetime64[ns]
 1   Main staff group  16713 non-null  object
 2   Staff group 1     16713 non-null  object
 3   Ethnic group      16713 non-null  object
 4   Grade             16713 non-null  object
 5   HC                16713 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 783.5+ KB

In [17]:
nhs_eth['Staff group 1'].unique()

array(['All staff groups', 'Central functions',
       'Hotel, property & estates', 'Managers', 'Senior managers',
       'Unknown', 'Ambulance staff', 'HCHS Doctors', 'Midwives',
       'Nurses & health visitors',
       'Scientific, therapeutic & technical staff',
       'Support to ambulance staff',
       'Support to doctors, nurses & midwives', 'Support to ST&T staff'],
      dtype=object)

In [7]:
nhs_eths = nhs_eth.loc[nhs_eth['Staff group 1'] == 'Scientific, therapeutic & technical staff']
nhs_eths

,Data Month,Main staff group,Staff group 1,Ethnic group,Grade,HC
924,2009-09-30,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",All ethnic groups,All grades,137252
925,2009-09-30,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",All ethnic groups,Band 4,7168
926,2009-09-30,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",All ethnic groups,Band 5,25811
927,2009-09-30,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",All ethnic groups,Band 6,43050
928,2009-09-30,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",All ethnic groups,Band 7,35942
...,...,...,...,...,...,...
16403,2020-12-31,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",White,Band 8b,5168
16404,2020-12-31,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",White,Band 8c,2403
16405,2020-12-31,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",White,Band 8d,860
16406,2020-12-31,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",White,Band 9,235
16407,2020-12-31,Professionally qualified clinical staff,"Scientific, therapeutic & technical staff",White,Non AfC Grade,536

In [16]:
nhs_eths = nhs_eths.loc[nhs_eths['Data Month'] == '2020-12-31']
nhs_eths['Ethnic group'].unique()

array(['All ethnic groups', 'Any Other Ethnic Group',
       'Asian or Asian British', 'Black or Black British', 'Chinese',
       'Discontinued codes', 'Mixed', 'Not Stated', 'Unknown', 'White'],
      dtype=object)

In [26]:
ethnicity = ['Any Other Ethnic Group', 'Asian or Asian British', 'Black or Black British', 'Chinese', 'Mixed', 'White']

nhs_ethf = nhs_eths[nhs_eths['Ethnic group'].isin(ethnicity)]

nhs_ethf.iloc[:, 3:6]

                 Ethnic group          Grade    HC
16316  Any Other Ethnic Group     All grades  2328
16317  Any Other Ethnic Group         Band 4   113
16318  Any Other Ethnic Group         Band 5   516
16319  Any Other Ethnic Group         Band 6   772
16320  Any Other Ethnic Group         Band 7   609
...                       ...            ...   ...
16403                   White        Band 8b  5168
16404                   White        Band 8c  2403
16405                   White        Band 8d   860
16406                   White         Band 9   235
16407                   White  Non AfC Grade   536

[65 rows x 3 columns]